/* ЧАСТЬ 9 */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;  
}



.contact-phone {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #555;
    text-decoration: none;
    transition: color 0.2s;
}

.contact-phone:hover {
    color: #e31e24;
}

.contact-email {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #555;
    text-decoration: none;
    transition: color 0.2s;
}

.contact-email:hover {
    color: #e31e24;
}

.contact-phone-1 {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #aaa;
    text-decoration: none;
    transition: color 0.2s;
}

.contact-phone-1:hover {
    color: #e31e24;
}

.contact-email-1 {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #aaa;
    text-decoration: none;
    transition: color 0.2s;
}

.contact-email-1:hover {
    color: #e31e24;
}

body.menu-open .grid-neon,
body.modal-open .grid-neon,
body.menu-open .runner-h,
body.modal-open .runner-h,
body.menu-open .runner-v,
body.modal-open .runner-v {
    display: none !important;
}


.overlay,
.call-modal-overlay {
    backdrop-filter: none !important;
}



/* ЧАСТЬ 9 БОНУУС */
@media (max-width: 768px) {
    .topbar {
        flex-direction: column !important;
        align-items: center !important;
        padding: 12px 15px !important;
    }
    
    .logo {
        margin-bottom: 10px !important;
        justify-content: center !important;
    }
    
    .contacts {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        gap: 10px !important;
    }
    
    .phone {
        font-size: 14px !important;
        white-space: nowrap !important;
    }
    
    .callback-btn {
        padding: 5px 12px !important;
        font-size: 12px !important;
    }
    
    .menu-btn {
        width: 40px !important;
        height: 40px !important;
    }
    
    .contacts a img {
        width: 24px !important;
        height: 24px !important;
    }
}





